html {
  background-size: 48px 48px;
  background-image:
    linear-gradient(to left, MediumBlue 1px, transparent 1px),
    linear-gradient(to bottom, MediumBlue 1px, transparent 1px);
  background-color: Black;
}

body {
  background-color: inherit;
  color: Silver;
  font-family: "Verdana", "Geneva", sans-serif;
  margin: 1em auto;
  max-width: 56em;
  padding: 1em;
}

a:link {color:CornFlowerBlue; text-decoration:none}
a:visited {color:Plum; text-decoration:none;}
a:hover {text-decoration:underline;} 

nav {
  display: flex;
  justify-content: center;
}

nav a {
  background-color: DarkBlue;
  flex-grow: 1;
  font-size: large;
  padding: 1em;
  text-align: center;
}

nav a:hover {
  background-color: Navy;
  text-decoration: none;
}

nav a.active {
  background-color: Black;
  color: Silver;
  flex-grow: 1;
  font-size: large;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

nav a:link, nav a:active, nav a:visited{
  color: Silver;
  text-decoration: none;
}

footer {
  border-top: groove 2px Gray;
  clear: both;
}
